FeatureDemandPlanning.Wcf.TestClient/Service References/FdpService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FeatureDemandPlanning.Model" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessQueuedItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importQueueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessQueuedItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FeatureDemandPlanning.Model" minOccurs="0" name="ProcessQueuedItemResult" nillable="true" type="q1:ImportQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>